*.class
*.iml
*.jar
.project
.classpath
/bin/
/.idea/
/out/
/libs/
/build/
/screens/
src/META-INF/
report/tp2j.aux
report/tp2j.blg
report/tp2j.out
report/tp2j.pdf
report/tp2j.toc
report/tp2j.log
report/tp2j.synctex.gz
report/tp2j.bbl
report/includes/diagramas_santi.asta.lock
